/.metadata/
node_modules/
dist/
.gradle
.idea
.cxx/

local.properties

gen/
scratch/
obj/
bin/
.svn/

**/.vscode/

.project
.DS_Store
.settings

.classpath
android-runtime.iml
test-app/build-tools/*.log
test-app/analytics/build-statistics.json
