/.metadata/
node_modules/
dist/
.gradle
/test-app/build
/test-app/libs
/test-app/metadata
.idea
.DS_Store
.idea/
*.iml
local.properties

gen/
scratch/
obj/
bin/
.svn/

**/.vscode/

### V8 platform build files

/runtime/**/DEPS
/runtime/**/OWNERS
/runtime/**/*.gyp
/runtime/**/*.gypi