[submodule "test-app/app/src/main/assets/app/tns_modules/tns-core-modules/shared"]
	path = test-app/app/src/main/assets/app/tns_modules/tns-core-modules/shared
	url = https://github.com/NativeScript/common-runtime-tests-modules.git
[submodule "test-app/app/src/main/assets/app/shared"]
	path = test-app/app/src/main/assets/app/shared
	url = https://github.com/NativeScript/common-runtime-tests-app.git
