/.metadata/
node_modules/
dist/
.gradle
.idea
.cxx/

local.properties

gen/
scratch/
obj/
bin/
.svn/

**/.vscode/

.project
.DS_Store
.settings
thumbs.db

.classpath
android-runtime.iml
test-app/build-tools/*.log
test-app/analytics/build-statistics.json
package-lock.json

## temporary, sample build output of an app 
/app