[submodule "test-app/assets/app/shared"]
	path = test-app/app/src/main/assets/app/shared
	url = git@github.com:NativeScript/common-runtime-tests-app.git
[submodule "test-app/assets/app/tns_modules/shared"]
	path = test-app/app/src/main/assets/app/tns_modules/tns-core-modules/shared
	url = git@github.com:NativeScript/common-runtime-tests-modules.git
