*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/build
app/src/*
app/.iml
app/proguard-rules.pro
!app/build.gradle
!app/src/.gitkeep
gradle-app.setting