static-binding-generator.jar
sbg-bindings.txt
sbg-interfaces-names.txt
sbg-js-parced-files.txt
sbg-input-output-dirs.txt
sbg-java-dependencies.txt
android-metadata-generator.jar
mdg-output-dir.txt
mdg-java-dependencies.txt
dts-generator.jar