static-binding-generator.jar
sbg-bindings.txt
sbg-interface-names.txt
sbg-js-parsed-files.txt
sbg-input-file.txt
sbg-output-file.txt
sbg-java-dependencies.txt
android-metadata-generator.jar
mdg-output-dir.txt
mdg-java-dependencies.txt
dts-generator.jar
sbg-input-output-dirs.txt
